In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
out = ['G1','G1','G1','G2','G2','G2']
ins = [1,2,3,1,2,3]

In [4]:
hier_index = list(zip(out, ins))

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [11]:
df = pd.DataFrame(randn(6,2),hier_index, ['A','B'])

In [12]:
df

             A         B
G1 1  0.874769  2.006539
   2 -2.026925  0.916868
   3  0.395106  0.996173
G2 1 -1.307798 -0.579080
   2  1.791825 -1.045284
   3 -0.671137 -0.602196

In [15]:
df.loc['G1'].loc[1]

A    0.874769
B    2.006539
Name: 1, dtype: float64

In [16]:
df

             A         B
G1 1  0.874769  2.006539
   2 -2.026925  0.916868
   3  0.395106  0.996173
G2 1 -1.307798 -0.579080
   2  1.791825 -1.045284
   3 -0.671137 -0.602196

In [18]:
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1    0.874769  2.006539
       2   -2.026925  0.916868
       3    0.395106  0.996173
G2     1   -1.307798 -0.579080
       2    1.791825 -1.045284
       3   -0.671137 -0.602196

In [20]:
df.index.names

FrozenList(['Groups', 'Num'])

In [25]:
df.loc['G2'].loc[2].loc['B']

-1.0452835541736976

In [26]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    0.874769  2.006539
       2   -2.026925  0.916868
       3    0.395106  0.996173
G2     1   -1.307798 -0.579080
       2    1.791825 -1.045284
       3   -0.671137 -0.602196>

In [27]:
df.loc["G1"]

            A         B
Num
1    0.874769  2.006539
2   -2.026925  0.916868
3    0.395106  0.996173

In [28]:
df.xs('G1')

            A         B
Num
1    0.874769  2.006539
2   -2.026925  0.916868
3    0.395106  0.996173

In [29]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.874769  2.006539
G2     -1.307798 -0.579080