In [28]:
import pandas as pd 

df = pd.read_csv("SAheart.data")
df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
2  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
3  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
4  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
5  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [29]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df[['famhist']]  = le.fit_transform(df[['famhist']])

display(df.head())

X = df.drop(['chd'], axis=1)
y = df['chd']

C:\Users\cv\.conda\envs\aula2\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1  160    12.00  5.73      23.11        1     49    25.30    97.20   52    1
2  144     0.01  4.41      28.61        0     55    28.87     2.06   63    1
3  118     0.08  3.48      32.28        1     52    29.14     3.81   46    0
4  170     7.50  6.41      38.03        1     51    31.99    24.26   58    1
5  134    13.60  3.50      27.78        1     60    25.99    57.34   49    1

In [30]:
#############   Dividindo a base em treino e teste   ##################

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(323, 9) (139, 9) (323,) (139,)

In [31]:
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=42, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [44]:
from sklearn.metrics import confusion_matrix
y_pred = sgd_clf.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

#Acertou 28 e errou 59
#Errou 2 e acertou 50

[[28 59]
 [ 2 50]]

In [46]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.32      0.48        87
           1       0.46      0.96      0.62        52

    accuracy                           0.56       139
   macro avg       0.70      0.64      0.55       139
weighted avg       0.76      0.56      0.53       139

In [48]:
from sklearn.metrics import accuracy_score

y_train_pred = sgd_clf.predict(X_train)
print("Accuracy Score", accuracy_score(y_test, y_pred)*100)

Accuracy Score 56.11510791366906

In [49]:
from sklearn.metrics import f1_score

print(f1_score(y_test, y_pred))

0.6211180124223603