In [1]:
import pandas as pd
import numpy as np

### 1 Do arquivo carros, imprima as primeiras e as últimas cinco linhas. Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.

In [3]:
!ls

carros.csv    Exercicio_Aula02.ipynb   Pandas_aula_01.ipynb  train.csv
df_titan.csv  Exercicio_Titanic.ipynb  titanic.md	     Untitled.ipynb

In [5]:
df = pd.read_csv('carros.csv')
df.head(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [6]:
df.tail(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### 2 Encontre o nome da empresa de carros mais cara

In [23]:
m = df['price'].max()
df[df['price']==m]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

### 3 mostre a média de preços

In [24]:
df['price'].mean()

15387.0

### 4 mostre o valor mais alto e mais baixo de horsepower

In [25]:
df['horsepower'].max()

288

In [26]:
df['horsepower'].min()

48

### 5 mostre a informação de todos os carros da marcar toyota

In [29]:
df[df['company'] == 'toyota']

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

### 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

In [30]:
def filtro(df, num):
    df2 = df[df['num-of-cylinders'] == str(num)]
    df2.to_csv('Cilindors.csv')
    
filtro(df, 'four')