In [1]:
import pandas as pd

In [6]:
s = pd.Series([7, 'Heisenberg', 3.14, -1.7, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3             -1.7
4    Happy Eating!
dtype: object

In [38]:
l = []
for i in range(5):
    
    l.append('sensor {}'.format(str(+ i)))
l

['sensor 0', 'sensor 1', 'sensor 2', 'sensor 3', 'sensor 4']

In [40]:
s = pd.Series([7, 'Heisenberg', 3.14, -1.7, 'Happy Eating!'], index=l, )
s

sensor 0                7
sensor 1       Heisenberg
sensor 2             3.14
sensor 3             -1.7
sensor 4    Happy Eating!
dtype: object

In [47]:
def teste(tex):
    try:
        float(tex)
    except Exception as e:
        print(e.args)
        return None
    return tex

lista = [teste(linha) for linha in s]
lista

("could not convert string to float: 'Heisenberg'",)
("could not convert string to float: 'Happy Eating!'",)

[7, None, 3.14, -1.7, None]

In [79]:
df = pd.DataFrame(lista, columns=None)
df

      0
0  7.00
1   NaN
2  3.14
3 -1.70
4   NaN

In [69]:
df[df<3]

     0
0  NaN
1  NaN
2  NaN
3 -1.7
4  NaN

In [71]:
df[df[0]<3]

     0
3 -1.7

* url = ' '
* df2 = pd.read_table(url, sep=',')