In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [7]:
np.random.seed(101)

In [8]:
labels = ["x1", "x2", "x3", "x4"]

In [9]:
df = pd.DataFrame(randn(5,4),["a","b","c","d","e"], labels)

In [10]:
df

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [11]:
df2 = pd.DataFrame(randn(5,4), columns=labels)

In [12]:
df2

         x1        x2        x3        x4
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652

In [15]:
df['x4']

a    0.503826
b    0.605965
c   -0.589001
d    0.955057
e    0.683509
Name: x4, dtype: float64

In [16]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df[['x1','x2']]

         x1        x2
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [26]:
df['new'] = df['x1'] + df['x2']

In [27]:
df

         x1        x2        x3        x4       new
a  2.706850  0.628133  0.907969  0.503826  3.334983
b  0.651118 -0.319318 -0.848077  0.605965  0.331800
c -2.018168  0.740122  0.528813 -0.589001 -1.278046
d  0.188695 -0.758872 -0.933237  0.955057 -0.570177
e  0.190794  1.978757  2.605967  0.683509  2.169552

In [32]:
df.drop('new',axis=1)

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [35]:
df

         x1        x2        x3        x4       new
a  2.706850  0.628133  0.907969  0.503826  3.334983
b  0.651118 -0.319318 -0.848077  0.605965  0.331800
c -2.018168  0.740122  0.528813 -0.589001 -1.278046
d  0.188695 -0.758872 -0.933237  0.955057 -0.570177
e  0.190794  1.978757  2.605967  0.683509  2.169552

In [37]:
df.drop('new', axis=1, inplace=True)

In [38]:
df

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [39]:
df.drop('e')

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [40]:
df

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [41]:
df.drop('e', inplace=True)

In [42]:
df

         x1        x2        x3        x4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [43]:
df.shape

(4, 4)

In [45]:
df.loc['a']

x1    2.706850
x2    0.628133
x3    0.907969
x4    0.503826
Name: a, dtype: float64

In [46]:
df.iloc[0]

x1    2.706850
x2    0.628133
x3    0.907969
x4    0.503826
Name: a, dtype: float64

In [47]:
df.iloc[0,0]

2.706849839399938

In [48]:
df.loc['a', 'x2']

0.6281327087844596

In [49]:
df.loc[['a','b'],['x1','x4']]

         x1        x4
a  2.706850  0.503826
b  0.651118  0.605965